main{
    width: 100%;
    min-width: 375px;
    
    section{
        text-align: center;
        padding: 30px 5% 40px 5%;
        border: 2px solid black;
        margin: 5%;
        background: linear-gradient(0.25turn, $background-color-section, $background-color-section-linear) ;
        position: relative;
        &:hover{
            box-shadow: 5px 5px 5px black;
            transition: 2s;
        }

        h2{
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 1em;
            color: $color-h2;
            margin-top: auto;
        }
        img{
            width: 100%;
            &:hover{
                width: 120%;
                transform: translate(-8%, 0);
                transition: 3s;
                
            }
        }
        p{
            margin: 1em;
            font-weight: bold;
            color: $color-p;
            .div-title{
                font-weight: 400;
                color: $color-h2;


            }
        }
        a{
            text-decoration: none;
            border: 2px solid $color-h1;
            border-radius: 10px;
            padding: 8px;
            background-color: $color-h1;
            color: $background-color-section;
            position: absolute;
            bottom: 10px;
            left: 40%;
            &:hover{
                background-color: $background-color-body;
                color: $color-h1;
                transition: 2s;
                box-shadow: 5px 5px 5px $background-color-body;
            }
        }
    }
}

@media only screen and (min-width: 612px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }

}

@media only screen and (min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

}
