$background-color-section : rgb(190, 50, 218);
$background-color-section-linear: rgb(196, 94, 216);
$background-color-body: rgb(80, 0, 0);
$background-color-body-linear: darkred;

$color-h1: bisque;
$color-h2: rgb(80, 0, 0);
$color-p: bisque;
$shadow-color: black;